$main-colors: #ef5b4c;
$secondary-colors: #007bff;
$background-color: #fff;
$background-color2: #f9f9f3;

$small-desktop-screen: 1024px;
$tablet-screen: 768px;
$mobile-screen: 360px;

$header-height: 60px;
